@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #1c1e26;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.blogTitle {
  @apply text-3xl font-bold text-white;
}

.blogDescription {
  @apply text-base font-medium text-gray-400 font-inter;
}

.blogType {
  @apply text-base font-medium font-inter;
}

.blogPictureDescription {
  @apply text-sm font-normal text-gray-400 font-inter my-2 text-center;
}

.blogHeading {
  @apply text-base font-bold text-pink-500 uppercase font-inter my-5;
}

.blogParagraph {
  @apply text-base text-white font-inter my-5;
}

.highlight {
  @apply bg-yellow-300 text-black font-inter;
}
